.corNav {
    background-color: #ffb52e;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar .nav-link {
    color: #333 !important;
    font-weight: 500;
}

.logo-navbar {
height: 70px;
width: auto;
}

